doctype html
html
  head
    title= title
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Arsenal|Roboto')    
    link(rel='stylesheet', href='./stylesheets/style.css')

  body
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
        .collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li(class=title=='pAInt'?'active':undefined)
              a(href="/") Home
            li(class=title=='About'?'active':undefined)
              a(href="/about") About
            li(class=title=='Examples'?'active':undefined)
              a(href="/examples") Examples
            li(class=title=='Contact'?'active':undefined)
             a(href="/contact") Contact
     
    .container-fluid

      block content

    script(src="./javascripts/script.js")
    script(src="https://code.jquery.com/jquery-2.2.4.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")

    block scripts
        