doctype html
html
  head
    title= title
    link(rel='stylesheet', href='./stylesheets/style.css')
    link(rel='stylesheet', href='./stylesheets/material.min.css"')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
  body
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/") Image-Painter
        .collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li(class=title=='Image-Painter'?'active':undefined)
              a(href="/") Home
            li(class=title=='About'?'active':undefined)
              a(href="/about") About
            li(class=title=='Examples'?'active':undefined)
              a(href="/examples") Examples
            li(class=title=='Contact'?'active':undefined)
              a(href="/contact") Contact

    .container

      block content

      script(src="https://code.jquery.com/jquery-2.2.4.min.js")
      script(src='./javascripts/material.min.js')

      block scripts
        